<h1>Personal Navigator</h1>

<table border="2">
    <th>
        <tr>
            <td>webpage</td>
            <td>link</td>
        </tr>
    </th>
    <tbody>
        <tr>
            <td>Algo University Dev Progress bar</td>
            <td><a href="https://docs.google.com/spreadsheets/d/134GqtKLiKEjp-bvtR9dSzq5EQ4GTb-Kl1_yTf4K--d8/edit?gid=0#gid=0" target="_blank">click here</a></td>
        </tr>
        <tr>
            <td>Algouniversity CP Dashboard</td>
            <td><a href="https://www.algouniversity.com/main/" target="_blank">click here</a></td>
        </tr>
        <tr>
            <td>Algouniversity DEV Dashboarc</td>
            <td><a href="https://www.algouniversity.com/dashboard/" target="_blank">click here</a></td>
        </tr>
        <tr>
            <td>Leetecode Profile</td>
            <td><a href="https://leetcode.com/u/Sajjan_Naveen/" target="_blank">click here</a></td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Hi S Naveen !!!</strong>
</p>